# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
/.next/
/out/

# Production
/build
/dist
/Installers/
/dist-server/
*.exe
*.zip
*.asar

# Allow OTA updates
!keygen-server/updates/*.exe
!keygen-server/updates/*.blockmap
!keygen-server/updates/*.yml

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# IDEs
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Electron
electron/dist
electron/main.js.map
